= form_for category do |f|
  - if category.errors.any?
    #error_explanation.alert.alert-danger
      %h2= "#{pluralize(category.errors.count, "error")} prohibited this category from being saved:"
      %ul
        - category.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control'
    
  .row
    - if category.persisted?
      .col-sm-2.col-xs-4
        = f.submit 'Save', class: 'btn btn-default btn-block'
      .col-sm-2.col-xs-4.col-sm-offset-3
        = link_to 'Show', category_path(category), class: 'btn btn-default btn-block'
      .col-sm-2.col-xs-4.col-sm-offset-3
        = link_to 'Back', categories_path, class: 'btn btn-default btn-block'
    - else
      .col-sm-3.col-xs-6
        = f.submit 'Create', class: 'btn btn-default btn-block'
      .col-sm-3.col-xs-6.col-sm-offset-6
        = link_to 'Back', categories_path, class: 'btn btn-default btn-block'